body {
  background:#999;
  font-family:ariel;
}

img {
  max-width:100%;
  max-height:100%;
}

.lunch_title_div {
  width: 50%;
  height: auto;
  margin-left: 25%;
  background-color: #777;
  text-align: center;
}

.lunch_title {
  color:#333;
  text-align: center;
}

.lunch_subtitle {
  color:#222;
  background-color: inherit !important;
}

.star_rating {
  width: 100vw;
  height: auto;
  overflow:hidden;
  margin-left: -7px;
}

.star_image {
  float:left;
  width:20vw;
  height:auto;
}

.lunch_display {
  width: 100vw;
  height: auto;
  color: #222;
  margin-left: -7px;
  background-color: green;
}

.lunch_section_2 {
  clear: both;
  text-align: center;
}

.lunch_picture {
  width:25vw;
  display: inline-block;
  height:auto;
  margin: 0 auto;
}

.avg_rating {
  float: left;
  width:25vw;
  height: auto;
  background-color: blue;
}

.avg_rating p {
  color: red;
  font-size: 30px;
}

.recent_ratings {
  float: right !important;
  width:25vw;
  height: auto;
  background-color: blue;
}

.recent_ratings p {
  color: red;
  font-size: 30px;
}

.recent_ratings li {
  color: #222;
  font-size: 20;
  text-align: left !important;
  margin-left: 33%;
}
