body {
  font-family:ariel;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

img {

}

.z_top {
  z-index: 10;
  position:absolute;
}

.top_section {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  margin-top: 3vh;
  text-align: center;
}

.avi {
  width: 300px;
  height: 100px;
  margin-left: 2vw;
  float: left;
  text-align: center;
}

.fred_avi {
  width: 10vw;
  height: auto;
  float: left;
  margin: 0 auto;
}

.zach_avi {
  width: 10vw;
  height: auto;
  float: right;
  margin: 0 auto;
}

.zach_avi img {
  width: 7vw !important;
}

.avi img {
  width: 10vw;
  height: auto;
}

.lunch_title_div {
  width: 50%;
  height: auto;
  margin-left: 25%;
  background-color: rgba(229,229,229, 0.5);
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  margin: 0 auto;
}

.lunch_title {
  color:#222;
  text-align: center;
}

.lunch_subtitle {
  color:#111;
  font-size: 20px;
}

.login_button {
  text-align: center;
  float: right;
  transition: all .9s ease-in-out;
}

.login_button p {
  font-size: 20px;
  color: red;
}

.login_button div {
  background-color: rgba(229,229,229, 0.5);
  text-align: center;
  border-radius: 20px;
  width: 10vw;
  height: auto;
  float: right;
  margin-right: 10vw;
  transition: all .2s ease-in-out;
}

.login_button :hover {
  transform: scale(1.05);
}

.login_frame {
  z-index: 20;
  position:absolute;
  width: 60vw;
  height: 80vh;
  margin-left: 20vw;
  margin-top: 10vh;
  display: none;
}

.button_close {
  z-index: 21;
  position: absolute;
  width: 3vw;
  height: auto;
  margin-top: 11vh;
  margin-left: 77vw;
  display: none;
}
.button_close img {
  width: inherit;
  height: inherit;
}

.star_rating {
  width: 100vw;
  height: auto;
  overflow:hidden;
  margin-top: 5vh;
}

.star_pane {
    width: 110vw;
    height: auto;
    overflow:hidden;
    margin-left: -7px;
    background-color: rgba(229,229,229, 0.5)
}


.star_image {
  float:left;
  width:20vw;
  height:auto;
  margin-right: -20px;
  margin-left: 20px;
}

.star_image img {
  border-radius: 0%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
}

.star_image img:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.star_image_click {
  border-radius: 0%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
          -webkit-transform: rotate(15deg);
                  transform: rotate(15deg);
}

.lunch_display {
  width: 35vw;
  height: auto;
  margin: 0 auto;
  border-radius: 30px;
  color: #222;
  background-color: rgba(229,229,229, 0.5)
}

.lunch_section_2 {
  clear: both;
  text-align: center;
}

.lunch_picture {
  width:25vw;
  max-width: 30vw;
  max-height: 30vh;
  display: inline-block;
  height:auto;
  margin: 0 auto;
}

.lunch_picture img {
  width: 20vw;
  height: 20vh;
  border-radius: 40px;
  transition: all .2s ease-in-out;
}

.lunch_picture :hover {
  transform: scale(1.05);
}

.avg_rating {
  float: left;
  width:25vw;
  height: 25vh;
  background-color: rgba(229,229,229, 0.4);
  margin-bottom: 5vh;
}

.avg_rating p {
  color: red;
  font-size: 30px;
}

.recent_ratings {
  float: right !important;
  width:25vw;
  height: 25vh;
  background-color: rgba(229,229,229, 0.4);
  margin-bottom: 5vh;
}

.recent_ratings p {
  color: red;
  font-size: 30px;
}

.recent_ratings li {
  color: #111;
  text-align: left !important;
  margin-left: 33%;
  font-size: 25px;
}

.credit_bar {
  text-align: center;
  width: 100vw;
  height: auto;
  margin-top: -15px;
}

.credit_bar p {
  font-size: 15px;
  color: white;
}

.credit_bar a {
  color: red;
  text-decoration: none;
}
