body {
  font-family:ariel;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

img {

}

.z_top {
  z-index: 10;
  position:absolute;
}

.lunch_title_div {
  width: 50%;
  height: auto;
  margin-left: 25%;
  background-color: rgba(229,229,229, 0.5);
  text-align: center;
}

.lunch_title {
  color:#222;
  text-align: center;
}

.lunch_subtitle {
  color:#111;
  font-size: 20px;
}

.star_rating {
  width: 100vw;
  height: auto;
  overflow:hidden;
}

.star_pane {
    width: 110vw;
    height: auto;
    overflow:hidden;
    margin-left: -7px;
    background-color: rgba(229,229,229, 0.5)
}


.star_image {
  float:left;
  width:20vw;
  height:auto;
  margin-right: -20px;
  margin-left: 20px;
}

.star_image img {
  border-radius: 0%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
}

.star_image img:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.star_image_click {
  border-radius: 0%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
          -webkit-transform: rotate(15deg);
                  transform: rotate(15deg);
}

.lunch_display {
  width: 100vw;
  height: auto;
  color: #222;
  margin-left: -7px;
  background-color: rgba(229,229,229, 0.5)
}

.lunch_section_2 {
  clear: both;
  text-align: center;
}

.lunch_picture {
  width:25vw;
  max-width: 30vw;
  max-height: 30vh;
  display: inline-block;
  height:auto;
  margin: 0 auto;
}

.lunch_picture img {
  width: 25vw;
  height: 30vh;
}

.avg_rating {
  float: left;
  width:25vw;
  height: 30vh;
  background-color: rgba(229,229,229, 0.4)
}

.avg_rating p {
  color: red;
  font-size: 30px;
}

.recent_ratings {
  float: right !important;
  width:25vw;
  height: 30vh;
  background-color: rgba(229,229,229, 0.4)
}

.recent_ratings p {
  color: red;
  font-size: 30px;
}

.recent_ratings li {
  color: #111;
  text-align: left !important;
  margin-left: 33%;
  font-size: 25px;
}

.credit_bar {
  text-align: center;
  width: 100vw;
  height: auto;
  margin-top: -15px;
}

.credit_bar p {
  font-size: 15px;
  color: white;
}

.credit_bar a {
  color: red;
  text-decoration: none;
}
